/* Common Styles */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Vollkorn:wght@400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: transparent;
    text-decoration: none;
    font-weight: 400;
    font-family: "Vollkorn", serif;
}

button:active,
a:active,
input[type="submit"]:active {
    transform: scale(0.97);
}
input[type="submit"]:disabled:active {
    transform: scale(1);
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #2b81e4;
    --secondary-color: #eee;
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #555;
    --light-gray-color: #777;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: var(--secondary-color);
    margin: 3.5rem;
    overflow: hidden;
    box-shadow: 0 1rem 3rem var(--grey-color);
}

.xxx .header,
.xxx .section-2,
.xxx .section-3,
.xxx .section-4,
.xxx .footer {
    opacity: 0.1;
}
/* End Common Styles */

/* Navbar */
/* Menu button */
.icon {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: fixed;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    z-index: 200;
    background-color: var(--white-color);
    top: 6.5rem;
    left: 6.5rem;
    transition: background-color 0.3s;
}
/* .icon.menuOpen {
    left: calc(100% - 13rem);
} */
.icon.accessibility {
    background-color: var(--primary-color);
}
.icon.accessibility .line {
    background-color: var(--white-color);
}
.icon.accessibility.menuOpen {
    background-color: var(--white-color);
}
.icon.accessibility.menuOpen .line {
    background-color: var(--primary-color);
}

.line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: .2rem;
    height: 3rem;
    background-color: var(--primary-color);
    transform-origin: center;
    transition: transform 1s, background-color 0.3s;
}
.line1 {
    transform: translate(-50%, -20%) rotate(-90deg);
}
.line2 {
    transform: translate(-50%, -50%) rotate(-90deg);
}
.line3 {
    transform: translate(-50%, -80%) rotate(90deg);
}
.icon.menuOpen .line1 {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.icon.menuOpen .line2 {
    transform: translate(-50%, -50%) rotate(45deg);
}
.icon.menuOpen .line3 {
    transform: translate(-50%, -50%) rotate(45deg);
}
/* End of Menu button */

.nav-wrapper {
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
        url(../img/navbar-bg.jpg) center no-repeat;
    background-size: cover;
    z-index: 100;
    margin: 3.5rem;
    transform: translateY(100vh);
    transition: transform 0.4s;
}
.nav-list {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav-link {
    flex: 1;
    color: var(--white-color);
    font-size: 4rem;
    display: grid;
    place-content: center;
    height: 100%;
    text-transform: uppercase;
    opacity: 0.8;
    transition: 0.4s;
    text-shadow: 0.1rem 0.2rem 0.5rem transparent;
    transform: translateY(-100%);
    cursor: pointer;
    user-select: none;
}

.xxx .nav-wrapper .nav-link {
    transform: translateY(0);
}

.nav-link:hover {
    opacity: 1;
    text-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.7);
}

.xxx .nav-wrapper {
    transform: translate(0);
}
/* End of Navbar */

/* Header */
.header {
    height: calc(100vh - 7rem);
    background: linear-gradient(
            rgba(18, 113, 255, 0.5),
            rgba(18, 113, 255, 0.3)
        ),
        url(../img/header-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    perspective: 100rem;
}

.header-text {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-shadow: 0 0.3rem 0.5rem var(--grey-color);
}

.heading {
    font-size: 8rem;
    color: var(--white-color);
}

.header-paragraph {
    font-size: 3rem;
    font-weight: 500;
    color: var(--secondary-color);
    max-width: 70rem;
    margin: 0 auto;
}

.logo {
    position: absolute;
    top: 4rem;
    right: 4rem;
}

.logo h1 {
    display: flex;
}

.logo h1 span {
    font-size: 2rem;
    font-weight: 900;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: white;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    animation: drop-letters 5s infinite;
}

@keyframes drop-letters {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-100%);
    }
    20% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.header-image {
    width: 35%;
    animation: image-float 150s infinite;
}

@keyframes image-float {
    0% {
        transform: translateZ(40rem);
        opacity: 1;
    }
    40% {
        transform: translateZ(-500rem) translateX(150rem);
        opacity: 0.8;
    }
    70% {
        transform: translateZ(-1500rem) translateX(800rem);
        opacity: 0.6;
    }
    80% {
        transform: translateZ(-50rem) translateX(100rem);
        opacity: 0.8;
    }
    100% {
        transform: translateZ(40rem);
        opacity: 1;
    }
}

/* End of Header */

/* Section 2 - Popular Tours*/
.section-2 {
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.section-2-heading {
    text-align: center;
    font-size: 8rem;
    margin-bottom: 8rem;
    color: var(--primary-color);
    text-shadow: 0 0.1rem 0.2rem var(--primary-color);
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 35rem;
    position: relative;
    perspective: 150rem;
}

.card-image {
    width: 100%;
    object-fit: cover;
    border-radius: 0.3rem 0.3rem 0 0;
}

.front-side {
    text-align: center;
    background-color: var(--white-color);
    border-radius: 0.3rem;
    position: relative;
    z-index: 10;
    opacity: 0.9;
    transition: 0.5s;
}

.showBack .front-side {
    transform: translateZ(-5rem) translateX(3rem);
    opacity: 0.5;
    z-index: 0;
}

.tour-name {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    right: 1.5rem;
    color: #fff;
    text-shadow: 0 0 1rem var(--black-color);
}

.card-list {
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.card-list-item {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--light-gray-color);
    margin: 2rem 0;
    border-bottom: 0.1rem solid var(--primary-color);
    padding-bottom: 1.5rem;
}

.back-side {
    position: absolute;
    inset: 0;
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    box-shadow: 0 2rem 4rem 0;
    flex-direction: column;
    color: var(--light-gray-color);
    transform: translateZ(-5rem) translateX(3rem);
    box-shadow: 0 2rem 4rem #777;
    opacity: 0.5;
    transition: 0.5s;
}
.showBack .back-side {
    box-shadow: 0 0.5rem 2rem #aaa;
    transform: translateZ(0) translateX(0);
    opacity: 0.9;
    z-index: 10;
}

.tour-price {
    font-size: 5rem;
    font-weight: 300;
    color: var(--white-color);
    margin-bottom: 3rem;
}

.card-button {
    color: var(--primary-color);
    background-color: var(--white-color);
    bottom: none;
    font-size: 2.5rem;
    padding: 1rem 2rem;
    letter-spacing: 0.2rem;
    border-radius: 5rem;
    cursor: pointer;
    border: 0;
}

.navigation-button {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;
    color: var(--light-gray-color);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.3rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
}
/* End of Section 2 */

/* Section 3 */
.section-3 {
    padding: 10rem 0;
    position: relative;
}
.video-container {
    position: absolute;
    inset: 0;
    opacity: 0.4;
    transition: 0.5s;
}
.show .video-container {
    opacity: 1;
}
.bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: 3s;
}
.bg-video.curr {
    opacity: 1;
}
.stories-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}
.show .stories-wrapper {
    opacity: 0;
}

.story-bg {
    background-color: rgba(238, 238, 238, 0.8);
    padding: 5rem;
    margin: 5rem;
    width: 70%;
    box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
    transform: skewX(20deg);
}
.story {
    transform: skewX(-20deg);
    display: flex;
}
.story-image {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    margin-right: 5rem;
}
.story-text {
    letter-spacing: 0.1rem;
}
.story-heading {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--grey-color);
    margin-bottom: 1rem;
    font-weight: 700;
}
.story-paragraph {
    font-size: 1.8rem;
    color: var(--light-gray-color);
    text-indent: 1rem;
}

.show-video {
    cursor: pointer;
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 10;
    cursor: pointer;
    border: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.2rem 1rem;
    font-size: 2rem;
    border-radius: 0.4rem;
    letter-spacing: 0.1rem;
    opacity: 0.6;
    transition: 0.3s;
}

.show-video:hover {
    opacity: 1;
}

.show .show-video {
    background-color: var(--white-color);
    color: var(--primary-color);
}
/* End of Section 3 */

/* Section 4 - Contact */
.section-4 {
    padding: 15rem 0 20rem 0;
    text-align: center;
    background: url(../img/contact-us-bg.png) center no-repeat;
    background-size: cover;
    animation: s4bg 35s infinite;
}

@keyframes s4bg {
    0% {
        background-color: #3d3d3d;
    }
    25% {
        background-color: #ced8e4;
    }
    50% {
        background-color: #1e81e3;
    }
    75% {
        background-color: #ff7842;
    }
    100% {
        background-color: #3d3d3d;
    }
}
.contact-heading {
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 700;
    color: var(--white-color);
    letter-spacing: 0.5rem;
    text-shadow: 0 1rem 2rem var(--black-color);
    margin-bottom: 8rem;
}

.contact-form {
    width: 70rem;
    height: 50rem;
    background-color: rgba(255, 255, 255, 0.95);
    margin: 0 auto;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 3rem #000;
    padding: 5rem;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    position: relative;
}

.input-groups {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-groups .input-group {
    width: 48.5%;
}

.input-group input,
.input-group textarea {
    padding: 3rem 1rem 1rem 1rem;
    background-color: var(--secondary-color);
    border: 0.1rem solid var(--secondary-color);
    font-size: 1.4rem;
    color: var(--light-gray-color);
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    transition: border-color 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #ccc;
}

.input-group input.hasData.erro,
.input-group textarea.hasData.erro {
    border-color: #a14141;
}

.input-group textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: 15rem;
    min-height: 7rem;
}

.input-group label {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--grey-color);
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.form-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    background-color: var(--light-gray-color);
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    color: var(--white-color);
    transition: 0.4s;
}

.form-btn:hover {
    background-color: var(--grey-color);
}

.form-btn:disabled {
    opacity: 0.5;
    cursor: default;
}

.form-btn:disabled:hover {
    background-color: var(--grey-color);
}

/* End of Section 4 */

/* Footer */
.footer {
    background-color: var(--grey-color);
    padding: 4rem 0 2rem 0;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.footer-list a {
    font-size: 2rem;
    color: var(--white-color);
    padding: 1rem;
    letter-spacing: 0.2rem;
    transition: 0.2s;
    position: relative;
}

.footer-list a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    transition: 0.2s;
    bottom: 0;
    left: 50%;
}

.footer-list a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--white-color);
    transition: 0.2s;
    bottom: 0;
    right: 50%;
}
.footer-list a:hover::before,
.footer-list a:hover::after {
    width: 50%;
}

.copyright {
    text-align: center;
    color: var(--white-color);
    font-size: 1.6rem;
    margin-top: 3rem;
}
/* End of Footer */

/* Responsive */

@media (min-width: 1201px) {
    .footer-list a:hover {
        transform: scale(1.1);
    }

    .footer-list:hover > a:nth-child(odd):not(:hover) {
        transform: scale(0.8) rotate(370deg);
    }
    .footer-list:hover > a:nth-child(even):not(:hover) {
        transform: scale(0.8) rotate(-370deg);
    }
}

@media (max-width: 1200px) {
    .cards-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
        /* padding: 0 10rem; */
    }
    /* 
    .card:nth-of-type(1){
        align-self: flex-end;
    }
    .card:nth-of-type(3){
        align-self: start;
    } */

    .story-bg {
        width: 85%;
    }
}

@media (max-width: 1000px) {
    .nav-list {
        flex-direction: column;
    }

    .nav-link {
        width: 100%;
        transform: translateY(0) translateX(-100%);
    }

    .header-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .heading {
        font-size: 6rem;
    }

    .header-paragraph {
        font-size: 2.5rem;
    }

    .section-2-heading {
        font-size: 6rem;
    }

    .story-bg {
        transform: skewX(0);
    }

    .story {
        transform: skewX(0);
        flex-direction: column;
        align-items: center;
    }

    .story-image {
        margin-bottom: 3rem;
    }
}

@media (max-width: 800px) {
    .header-paragraph{
        display: none;
    }

    .section-2-heading {
        font-size: 5rem;
    }

    .contact-form{
        width: 90%;
    }

    .footer-list{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 650px) {
    .container, .nav-wrapper{
        margin: 0;
    }

    .header{
        height: 100dvh;
    }

    .icon{
        top: 4rem;
        left: 2.5rem;
    }

    .section-2-heading, .contact-heading {
        font-size: 4rem;
    }

    .contact-form{
        padding: 2rem;
        height: 40rem;
    }
}

@media (max-width: 500px){
    html{
        font-size: 45%;
    }
}
